<template>
 <div>
  <b-navbar class="custom-blue"> </b-navbar>
  <div class="row p-0 m-0">
   <div class="leftside col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="d-flex justify-content-center mb-4">
     <img src="@/assets/images/2.png" height="200" width="200" class="img-fluid mt-5" alt="" />
    </div>
    <a href="" class="text-light fs-3" v-on:click.prevent="$bvModal.show('createSongModal')">Upload Music</a>
    <br />
    <br />
    <router-link to="" class="text-light fs-4">All Songs</router-link>
    <br />
    <br />
    <br />
    <a href="" type="button" class="text-light fs-4" v-on:click.prevent="$bvModal.show('createPlaylistModal')">Create Playlist</a>
    <br />
    <br />
    <table class="table table-borderless">
     <tbody v-for="(playlist, i) in playlists" :key="i">
      <tr class="text-light">
       <td>
        <button class="btn btn-sm text-light shadow-none">{{ playlist.name }}</button>
       </td>
       <td>
        <button
         class="btn btn-sm text-light shadow-none"
         v-on:click.prevent="
          update_data = playlist;
          $bvModal.show('updatePlaylistModal');
         "
        >
         Edit
        </button>
       </td>
       <td>
        <button
         class="btn btn-sm text-light shadow-none"
         v-on:click.prevent="
          delete_playlist = playlist.id;
          $bvModal.show('deletePlaylistModal');
         "
        >
         Delete
        </button>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
   <div class="rightside col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
    <b-form-input id="input-1" type="email" placeholder="Search" class="w-25 mt-5 ms-3 rounded-pill border-3" required></b-form-input>
    <br />
    <h4 class="mt-4 ms-4">All Songs</h4>

    <table class="table table-bordered mt-5">
     <thead>
      <tr>
       <th scope="col"></th>
       <th scope="col">Title</th>
       <th scope="col">Artist</th>
       <th scope="col">Duration</th>
       <th scope="col">Action</th>
      </tr>
     </thead>
     <tbody>
      <tr v-for="(song, j) in songs" :key="j">
       <th><i class="bi bi-play-fill fs-1"></i></th>
       <td class="pt-4">{{ song.title }}</td>
       <td class="pt-4">{{ song.artist }}</td>
       <td class="pt-4">{{ song.length }}</td>
       <td>
        <button
         class="btn btn-sm text-danger shadow-none mt-2 pt-2"
         v-on:click.prevent="
          delete_song = song.id;
          $bvModal.show('deleteSongModal');
         "
        >
         Delete
        </button>
        <button
         class="btn btn-sm text-primiary shadow-none mt-2 pt-2"
         v-on:click.prevent="
          data = song;
          $bvModal.show('addToPlaylistModal');
         "
        >
         Add to playlist
        </button>
       </td>
      </tr>
     </tbody>
    </table>

    <div class="player">
     <div class="col-12 pt-3 px-5">
      <hr />
     </div>
     <div class="d-flex justify-content-center">
      <i class="bi bi-caret-left-fill fs-1 text-light"></i>
      <i class="bi bi-play-circle fs-1 text-light"></i>
      <i class="bi bi-caret-right-fill fs-1 text-light"></i>
     </div>
    </div>
   </div>
  </div>

  <b-modal id="createSongModal" hide-header centered title="New Song">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <label class="my-2" for="item">Upload New Song</label>
     <VueFileAgent
      ref="vueFileAgent"
      @select="filesSelected($event)"
      :multiple="false"
      :maxSize="'10MB'"
      :deletable="true"
      :accept="'.mp3'"
      :theme="'list'"
      @beforedelete="onBeforeDelete($event)"
      @delete="fileDeleted($event)"
      :errorText="{
       type: 'Invalid file type. Only song file is allowed',
       size: 'Song should not exceed 10MB in size',
      }"
      v-model="fileRecords"
     ></VueFileAgent>
     <label class="my-2" for="item">Song Title</label>
     <input v-model="data.song_title" id="item" type="text" class="form-control shadow-none" placeholder="Lovely" autocomplete="off" />
     <label class="my-2" for="item">Song Artist</label>
     <input v-model="data.song_artist" id="item" type="text" class="form-control shadow-none" placeholder="Billie Elish" autocomplete="off" />
    </div>
   </div>
   <template #modal-footer="{cancel}">
    <b-button variant="primary" size="sm" @click="cancel()">
     Cancel
    </b-button>
    <b-button variant="success" size="sm" v-on:click.prevent="uploadSong">
     Save
    </b-button>
   </template>
  </b-modal>

  <b-modal id="createPlaylistModal" hide-header centered title="New Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <label class="my-2" for="item">Create New Playlist</label>
     <input v-model="data.playlist_name" id="item" type="text" class="form-control shadow-none" placeholder="Playlist name" autocomplete="off" />
    </div>
   </div>
   <template #modal-footer="{cancel}">
    <b-button variant="primary" size="sm" @click="cancel()">
     Cancel
    </b-button>
    <b-button variant="success" size="sm" v-on:click.prevent="savePlaylist">
     Save
    </b-button>
   </template>
  </b-modal>

  <b-modal id="addToPlaylistModal" hide-header centered title="Add to Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <label class="my-2" for="item">Select a playlist</label>
     <select v-model="data.playlist_id" class="form-select shadow-none">
      <option v-for="(playlist, i) in playlists" :key="i" :value="playlist.id">{{ playlist.name }}</option>
     </select>
    </div>
   </div>
   <template #modal-footer="{cancel}">
    <b-button variant="primary" size="sm" @click="cancel()">
     Cancel
    </b-button>
    <b-button variant="success" size="sm" v-on:click.prevent="add">
     Add
    </b-button>
   </template>
  </b-modal>

  <b-modal id="updatePlaylistModal" hide-header centered title="Update Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <label class="my-2" for="item">Update Playlist</label>
     <input v-model="update_data.name" id="item" type="text" class="form-control shadow-none" placeholder="Playlist name" autocomplete="off" />
    </div>
   </div>
   <template #modal-footer="{cancel}">
    <b-button variant="primary" size="sm" @click="cancel()">
     Cancel
    </b-button>
    <b-button variant="success" size="sm" v-on:click.prevent="updatePlaylist">
     Update
    </b-button>
   </template>
  </b-modal>

  <b-modal id="deletePlaylistModal" hide-header centered title="Delete Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <h5 class="text-center my-3">Are you sure to delete this playlist?</h5>
    </div>
   </div>
   <template #modal-footer="{cancel}">
    <b-button variant="primary" size="sm" @click="cancel()">
     Cancel
    </b-button>
    <b-button variant="danger" size="sm" v-on:click.prevent="deletePlaylist">
     Delete
    </b-button>
   </template>
  </b-modal>

  <b-modal id="deleteSongModal" hide-header centered title="Delete Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <h5 class="text-center my-3">Are you sure to delete this playlist?</h5>
    </div>
   </div>
   <template #modal-footer="{cancel}">
    <b-button variant="primary" size="sm" @click="cancel()">
     Cancel
    </b-button>
    <b-button variant="danger" size="sm" v-on:click.prevent="deleteSong">
     Delete
    </b-button>
   </template>
  </b-modal>
 </div>
</template>

<script>
 import { mapState } from 'vuex';
 export default {
  data() {
   return {
    data: {
     playlist_name: '',
     song_name: '',
     song_artist: '',
     song_title: '',
     playlist_id: '',
    },
    update_data: {
     playlist_name: '',
    },
    delete_playlist: '',
    delete_song: '',
    fileRecords: [],
    fileRecordsForUpload: [],
    fileName: '',
   };
  },
  computed: {
   ...mapState('playlist', ['playlists']),
   ...mapState('song', ['songs']),
  },
  async mounted() {
   await this.$store.dispatch('playlist/getPlaylists');
   await this.$store.dispatch('song/getSongs');
  },
  async created() {
   document.title = 'MP3 Player';
  },
  methods: {
   setViewPlaylist(data) {
    this.$store.commit('song/SET_PLAYLIST_SONGS', { data: data });
    this.$router.push({ name: 'viewplaylist', params: { slug: data.id } });
   },
   async savePlaylist() {
    if (this.data.playlist_name == '') return alert('Please include a playlist name');
    const res = await this.$store.dispatch('playlist/savePlaylist', this.data);
    if (res.status == 200) {
     alert('Playlist added successfully');
     await this.$store.dispatch('playlist/getPlaylists');
     this.$bvModal.hide('createPlaylistModal');
     this.data.playlist_name = '';
    } else {
     this.$bvModal.hide('createPlaylistModal');
     alert('Something went wrong');
    }
   },
   async add() {
    if (this.data.playlist_id == 0) return alert('Please select a playlist');
    const res = await this.$store.dispatch('song/addToPlaylist', this.data);
    if (res.status == 200) {
     alert('Song added to playlist successfully');
     await this.$store.dispatch('song/getSongs');
     this.$bvModal.hide('addToPlaylistModal');
    } else {
     this.$bvModal.hide('addToPlaylistModal');
     alert('Something went wrong');
    }
   },
   async updatePlaylist() {
    if (this.update_data.name == '') return alert('Please include a playlist name');
    const res = await this.$store.dispatch('playlist/updatePlaylist', this.update_data);
    if (res.status == 200) {
     alert('Playlist updated successfully');
     await this.$store.dispatch('playlist/getPlaylists');
     this.$bvModal.hide('updatePlaylistModal');
     this.update_data.playlist_name = '';
    } else {
     this.$bvModal.hide('updatePlaylistModal');
     alert('Something went wrong');
    }
   },
   async deletePlaylist() {
    const res = await this.$store.dispatch('playlist/deletePlaylist', this.delete_playlist);
    if (res.status == 200) {
     alert('Playlist deleted successfully');
     await this.$store.dispatch('playlist/getPlaylists');
     this.$bvModal.hide('deletePlaylistModal');
    } else {
     alert('Something went wrong');
     this.$bvModal.hide('deletePlaylistModal');
    }
   },
   async deleteSong() {
    const res = await this.$store.dispatch('song/deleteSong', this.delete_song);
    if (res.status == 200) {
     alert('Song deleted successfully');
     await this.$store.dispatch('song/getSongs');
     this.$bvModal.hide('deleteSongModal');
    } else {
     alert('Something went wrong');
     this.$bvModal.hide('deleteSongModal');
    }
   },
   filesSelected: function(fileRecordsNewlySelected) {
    var validFileRecords = fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error);
    this.fileRecordsForUpload = this.fileRecordsForUpload.concat(validFileRecords);
   },
   fileDeleted: function(fileRecord) {
    var i = this.fileRecordsForUpload.indexOf(fileRecord);
    if (i !== -1) {
     this.fileRecordsForUpload.splice(i, 1);
    }
   },
   onBeforeDelete: function(fileRecord) {
    var i = this.fileRecordsForUpload.indexOf(fileRecord);
    if (i !== -1) {
     this.fileRecordsForUpload.splice(i, 1);
     var k = this.fileRecords.indexOf(fileRecord);
     if (k !== -1) this.fileRecords.splice(k, 1);
    }
   },
   async uploadSong() {
    if (this.data.song_title == '') return alert('Please include a song title');
    if (this.data.song_artist == '') return alert('Please include a a song artist');
    if (this.fileRecordsForUpload.length == 0) return alert('Please select a song first');
    if (this.fileRecordsForUpload.length > 0) {
     const song = await this.$refs.vueFileAgent.upload('http://127.0.0.1:8000/api/uploadSong', { 'X-Requested-With': 'XMLHttpRequest' }, this.fileRecordsForUpload);
     this.data.song_name = song[0].data;
     console.log(this.data.song_name);
    }
    const res = await this.$store.dispatch('playlist/saveSong', this.data);
    if (res.status == 200) {
     alert('Song added successfully');
     await this.$store.dispatch('song/getSongs');
     this.$bvModal.hide('createSongModal');
     this.fileRecords = null;
     this.data.song_artist = '';
     this.data.song_title = '';
    } else {
     this.$bvModal.hide('createSongModal');
     alert('Something went wrong');
    }
   },
  },
 };
</script>
<style scoped>
 hr {
  width: 100%;
  height: 0.5rem !important;
  background-color: #ffffff;
  border: 0 none;
  border-radius: 20px;
 }
 .navbar {
  height: 3rem !important;
 }
 .custom-blue {
  background-color: #0e2f54;
 }
 .leftside {
  min-height: 100vh;
  max-height: max-content;
  background-color: #0e6bb0;
 }
 thead {
  background-color: #0d528d !important;
  height: 3rem !important;
  color: #fff;
 }
 .rightside {
  margin: 0;
  padding: 0;
 }
 .player {
  height: 10rem;
  background-color: #0e6bb0;
 }

 #createPlaylistModal___BV_modal_header_ > button {
  display: none !important;
 }
</style>
