*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background-color: white;

}

.top-bar {
    background-color: #1976D2;
}

.bgmain {
    background-color: #2196F3;
}

.background-color {
    background-color: white;
}

.images {  
  width: 40px;
  height: 100px;
  left: 126px;
  margin-top: 10%; 
}
.searchbar {
    width: 400px;
    height: 50px;
    margin-top: 60px;
    font-size: 20px;
    border-radius: 20px;
    border-color: #2196F3;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.sidebar {
    padding-left: 23px;
    
    text-decoration-line: underline;
    color: white;
}

.playbutton {
    width: 50px;
    height: 50px;
}

.div_scroll {
    overflow-y: scroll;
    height: auto;
    width: auto;

    font-style: normal;
    font-weight: 500;
}

.allsongstext {
    padding-left: 20px;
}

.table_header {
  background-color: #1976D2;
  font-size: 20px;

  color: white;
}

.table-body{
  font-size: 20px;
}

.upload_button {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.uploadmodal {
  color: white;
}

.modal-header{
  background: #1976D2;
}

.modal-content {
  overflow:hidden;
}

.upload_music {
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  text-align: center;

  color: #000000;

  background: #BBDEFB;
}

.bottomright {
  float: right;
}

.btn-upload {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  
  color: #FFFFFF;
  
  width: 130px;
  margin-bottom: 20px;
  margin-right: 10px;
  background: #2196F3;
  border: 4px solid #000000;
  box-sizing: border-box;
}

.btn-cancel1 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  
  color: black;
  
  width: 110px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: white;
  border: 4px solid #000000;
  box-sizing: border-box;
}

.add_playlist_button {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.playlistaddbar {
  width: 528px;
  height: 48px;

  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
}

.button-add {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  
  color: #FFFFFF;
  
  width: 110px;
  margin-bottom: 20px;
  margin-right: 10px;
  background: #2196F3;
  border: 4px solid #000000;
  box-sizing: border-box;
}

.btn-cancel2 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  
  color: black;
  
  width: 110px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: white;
  border: 4px solid #000000;
  box-sizing: border-box;
}

.playlist_spacing {
  margin-bottom: 0.5px;
}

.playbarbuttons { 
  display:block; 
  float:left; 
}

.backbutton {
  width: 50px;
  height: 50px;
  margin-right: 40px ;
  margin-top: 30px;
}

.playbutton {
  width: 60px;
  height: 60px;
  margin-top: 30px;
}

.forwardbutton {
  width: 50px;
  height: 50px;
  margin-left: 40px;
  margin-top: 30px;
}

.bgfix {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}


 .row-fluid.no-space [class*="span"] {
    margin-left: 0%;
    *margin-left: -0.06944%;
  }
  .row-fluid.no-space [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid.no-space .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0%;
  }
  .row-fluid.no-space .span12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .row-fluid.no-space .span11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .row-fluid.no-space .span10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .row-fluid.no-space .span9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .row-fluid.no-space .span8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .row-fluid.no-space .span7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .row-fluid.no-space .span6 {
    width: 49.99999999999999%;
    *width: 49.93055555555555%;
  }
  .row-fluid.no-space .span5 {
    width: 41.66666666666666%;
    *width: 41.597222222222214%;
  }
  .row-fluid.no-space .span4 {
    width: 33.33333333333333%;
    *width: 33.263888888888886%;
  }
  .row-fluid.no-space .span3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .row-fluid.no-space .span2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .row-fluid.no-space .span1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
  .row-fluid.no-space .offset12 {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
  }
  .row-fluid.no-space .offset12:first-child {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
  }
  .row-fluid.no-space .offset11 {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
  }
  .row-fluid.no-space .offset11:first-child {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
  }
  .row-fluid.no-space .offset10 {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
  }
  .row-fluid.no-space .offset10:first-child {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
  }
  .row-fluid.no-space .offset9 {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
  }
  .row-fluid.no-space .offset9:first-child {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
  }
  .row-fluid.no-space .offset8 {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
  }
  .row-fluid.no-space .offset8:first-child {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
  }
  .row-fluid.no-space .offset7 {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
  }
  .row-fluid.no-space .offset7:first-child {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
  }
  .row-fluid.no-space .offset6 {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
  }
  .row-fluid.no-space .offset6:first-child {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
  }
  .row-fluid.no-space .offset5 {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
  }
  .row-fluid.no-space .offset5:first-child {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
  }
  .row-fluid.no-space .offset4 {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
  }
  .row-fluid.no-space .offset4:first-child {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
  }
  .row-fluid.no-space .offset3 {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
  }
  .row-fluid.no-space .offset3:first-child {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
  }
  .row-fluid.no-space .offset2 {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
  }
  .row-fluid.no-space .offset2:first-child {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
  }
  .row-fluid.no-space .offset1 {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
  }
  .row-fluid.no-space .offset1:first-child {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
  }

@media (max-width: 767px) {     
    .row-fluid.no-space [class*="span"] {         
    float: none;         
    display: block;         
    width: 100%;         
    margin-left: 0;         
    -webkit-box-sizing: border-box;         
    -moz-box-sizing: border-box;         
    box-sizing: border-box;     
} 


}

input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 2px;
	margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: black;
	border-radius: 50%;
	cursor: pointer;
}
.right input[type=range]{
	width: 40%;
}
