*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 100px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0,6);
 
}
.navbar-expand-lg{
    box-shadow: 0 5px 5px #0a4c7b;

}
.navbar-nav li:hover{
    box-shadow: 0 0 5px turquoise,
                0 0 5px turquoise;
    background-color: turquoise;
    border-radius: 10px;

}

.navbar-brand{
    font-size: 2.0em;
    height: 48;
    padding: 2px 10px;
    font-weight: bold;
}
.nav-item{
    font-size: 1.0em;
    font-weight: bold;
}
.home{
    background: url(./images/jaunathan-gagnon-qif-wfvwJGY-unsplash.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}
.home h1{
    font-size: 3.5em;
    font-weight: bold;
    color: #fff;
}
.home p{
    font: italic;
    font-size: 1.5em;
    color: #fff;
}
a.btn{
    margin:30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn1{
    background-color: turquoise;
    color:white;
}
a.btn2{
    background: transparent;
    border: 1px solid turquoise;
    color: white;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.btn:hover{
    background: turquoise;
    border: none;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
